/* Layout Styles */
nav {
    display: flex; /* Align items to the right */
    background-color: #f9f8f8;
  }

  nav img {
    display: block;
    align-items:start;
  }
  
  nav ul {
    justify-content: flex-end;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex; /* Display list items in a row */
  }
  
  nav li {
    margin: 0 10px; /* Add some spacing between list items */
    color: gray;
  }
  
  nav li a {
    display: block;
    color: gray;
    text-decoration: none;
    padding: 14px 16px;
  }



.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-btn {
    display: block;
    color: gray;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    cursor: pointer;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(71, 71, 227);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color:rgb(79, 79, 232);
  }
  